# See ovn-controller(8) for details about ovn-controller.
#
# To customize the ovn-controller service, you may create a configuration file
# in the /etc/systemd/system/ovn-controller.d/ directory.  For example, to specify
# additional options to be passed to the "ovn-ctl start_controller" command, you
# could place the following contents in
# /etc/systemd/system/ovn-controller.d/local.conf:
#
#   [System]
#   Environment="OVN_CONTROLLER_OPTS=--ovn-controller-log=-vconsole:emer -vsyslog:err -vfile:info"
#
# Alternatively, you may specify environment variables in the file /etc/sysconfig/ovn-controller:
#
#   OVN_CONTROLLER_OPTS="--ovn-controller-log=-vconsole:emer -vsyslog:err -vfile:info"

[Unit]
Description=OTEP ovsdb daemon
After=syslog.target
Requires=openvswitch.service
After=openvswitch.service

[Service]
Type=forking
Restart=on-failure
ExecStart=vtep-init-ctl.sh start-vtep
ExecStop=vtep-init-ctl.sh stop-vtep

[Install]
WantedBy=multi-user.target
